html
{
  scrollbar-gutter: stable;
  overflow-y:       scroll;
}

body
{
  font-family:  sans-serif;
  line-height:  1.6;

  color:        #444;
  background:   #F2F2F2;

  /* Ensures that we can format main and nav with different margins */
  margin:       0px;
  padding:      0px;

  /* Don't hate me too much. */
  text-align: justify;
}

main
{
  /* Main content should be centred, but we don't want too many
   * characters in one line */
  max-width:     80ch;
  margin:        auto;

  /* Let the content breathe nicely. */
  padding: 2em 1em;
}

main ul
{
  /* Always use a disc; there's no need for us to highlight individual
   * levels. */
  list-style-type: disc;
}

.query-statistics
{
  font-size:  small;
  text-align: right;
}

/* Make headers and strong text stand out a little bit */
h1, h2, strong
{
  color: #333;
}

header
{
  border-bottom: 1px solid black;
}

footer
{
  border-top: 1px solid black;
}

#header-text, #footer-text
{
  margin-left:      0.5em;
  margin-right:     0.5em;
}

#search
{
  margin:         auto;
  padding-top:    1rem;
  padding-bottom: 1rem;
  text-align:     center;
}

#search input[type=text]
{
  margin:      auto;
  display:     block;
  width:       100%;
  min-height:  2.5em;

  border: 1px solid #E8E8E8;
}

#search input[type=text]:focus
{
  /* TODO: different width? */
  outline: solid black;
}

#search button
{
  display:    block-inline;
  margin-top: 0.5em;
}

#search-results
{
  list-style-type: none;
  padding-left:    0px;
  margin:          0px;
  width:           100%;
}

.search-result
{
  display:       block;
  margin-bottom: 0.5rem;
}

.search-result article
{
  background-color: white;
  border:           1px solid #E8E8E8;
  border-left:      2px solid black;
  padding:          1rem;
}

.search-result h1
{
  margin:    0;
  font-size: inherit;
}

.tags
{
  list-style-type:  none;
  padding-left:     0px;
  margin:           0;

  /* Override this to ensure that the tags are not spread out in a weird
   * fashion */
  text-align:       left;
}

.tags span
{
  font-size:      small;
  font-weight:    600;
  text-transform: lowercase;
  background:     #A3A3A3;
  color:          white;
  border-radius:  2.5px;
  padding:        0.25em 0.5em 0.25em 0.5em;
  margin-right:   0.5em;
  margin-top:     0.5em;
}

.tags a
{
  color:           white;
  text-decoration: none;
}

/* Only use this for inline tags, i.e. the tags that are accompanying
 * each of the articles */
.inline-tag
{
  display: inline-block;
}

.references
{
  list-style-type: none;
  padding-left:    0px;
  margin:          0px;
  width:           100%;
}

.references li
{
  display: inline;
}

.error
{
  border:           1px solid #C41E3A;
  border-radius:    2.5px;
  background-color: #C41E3A11;
  padding:          0.5em;
}

pre
{
  padding: 0.5em 0.5em;
}
