body
{
  margin:       5% auto;
  max-width:    50%;
  line-height:  1.6;
  font-size:    18px;
  color:        #444;
  background:   #f2f2f2;
  padding:      0 10px;
}

h1, h2, h3
{
  line-height:1.2
}
