body
{
  font-family:  "IBM Plex Sans", sans-serif;
  margin:       5% auto;
  line-height:  1.6;
  font-size:    18px;
  color:        #444;
  background:   #f2f2f2;
  padding:      0 10px;
}

.navigation
{
  list-style-type: none;
  padding-left:    0px;
  margin:          0px;
  width:           100%;
}

.navigation li
{
  list-style-type: none;
  display:         inline;
}

.tags ul
{
  list-style-type:  none;
  padding-left:     0px;
  margin:           0;
}

.tags li
{
  display:        inline;
  font-size:      small;
  font-weight:    600;
  text-transform: lowercase;
  background:     #c41e3a;
  color:          white;
  border-radius:  2.5px;
  padding:        0.25em 0.5em 0.25em 0.5em;
  margin-right:   0.5em;
}

.tags a
{
  color:           white;
  text-decoration: none;
}

.search
{
  margin:         auto;
  padding-top:    1rem;
  padding-bottom: 1rem;
  text-align:     center;
}

.search button
{
  display: block-inline;
}

.search input[type=text]
{
  margin:      auto;
  display:     block;
  width:       75%;
  line-height: 4.0;
  border: 1px solid black;
}

.search-results
{
  list-style-type: none;
  padding-left:    0px;
  margin:          0px;
  width:           100%;
}

.search-result
{
  display:       block;
  margin-bottom: 0.5rem;
}

.search-results h1
{
  margin-bottom: 0;
}

.search-results article
{
  background-color: white;
  border:           1px solid #E8E8E8;
  padding:          0.5rem;
}

h1, h2, h3
{
  line-height:1.2
}
