<!DOCTYPE html>

<title>DAT</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>
  <header>
    <nav>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>

  <main>

    <section>
    {% include "search.html" %}
    </section>

    <section>
    {% block content %}{% endblock %}
    </section>

  </main>

  <footer>
    <p>
      Made with <span style="color: #e25555;">&#9829;</span> in Switzerland.
      This search engine does not collect any personal information.
      Only publicly-available data sources are being used to collect the
      articles. No copyrighted content is downloaded, stored, or
      processed in any form or fashion. Please report any issues by writing
      to <a href="mailto:bastian@rieck.me">bastian@rieck.me</a>.
    </p>
  </footer>

</body>

</html>
