{% extends "base.html" %}

{% block content %}
  <div class="search">
    <form method="post">
      <input type="text" placeholder="Search terms" name="query" autofocus />
      <button type="submit">
        Search
      </button>
      <button type="submit" formaction="/random">
        I'm Feeling Lucky
      </button>
    </form>
  </div>

  <div>
    <ul>
      {% for d in data %}
      <li>
        {{ d["document"].title }}
        <a href="{{ url_for('view', identifier=d['id']) }}">(View)</a>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
