{% extends "base.html" %}

{% block content %}

  {% if data is not none %}
  <ol class="search-results">
    {% for d in data %}
    <li class="search-result">
      <article>
        {% set document = d["document"] %}

        <h1>{{ document.title }}</h1>
        <address>
          {{ document.author | join(', ') }}
        </address>

        {% if document.keywords is defined %}
        <div class="tags">
          <ul>
            {% for keyword in document.keywords %}
            <li>
              {% set url = url_for("index", q='tag:"' ~ keyword ~ '"') %}
              <a href={{ url}}>{{ keyword }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <a href="{{ url_for('view', identifier=d['id']) }}">(View)</a>
      </article>
    </li>
    {% endfor %}
  </ol>
  {% endif %}

{% endblock %}
