{% extends "base.html" %}

{% block content %}
  <article>
    <div>{{ document.title }}</div>

    {% if document.author is defined %}
    <div>
      <ul>
        {% for author in document.author %}
        <li>{{ author }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if document.keywords is defined %}
    <div class="tags">
      <ul>
        {% for keyword in document.keywords %}
        <li>{{ keyword }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </article>
{% endblock %}
