<!DOCTYPE html>

<title>DONUT: Database of Original &amp; Notable Uses of Topology</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>
  <header>
    <nav>
      <div id="header-text">
        <a href="/">Home</a>
        &#10086;
        <a href="/tags">Tags</a>
        &#10086;
        <a href="/about">About</a>
      </div>
    </nav>
  </header>

  <main>
    <section>
      <h1>&#x1F369; Database of Original &amp; Notable Uses of Topology</h1>
    {% include "search.html" %}
    </section>

    <section>
    {% block content %}{% endblock %}
    </section>
  </main>

  <footer>
    <div id="footer-text">
      <p>
        Made with <span style="color: #e25555;">&#9829;</span>,
        &#x1F36B;, and &#x1FAD5; in Switzerland.
        This search engine does not collect any personal information.
        Only publicly-available data sources are being used to collect the
        articles. No copyrighted content is downloaded, stored, or
        processed in any form or fashion. Please report any issues by writing
        to <a href="mailto:bastian@rieck.me">bastian@rieck.me</a>.
      </p>
    </div>
  </footer>

</body>

</html>
