<!DOCTYPE html>

<title>DONUT: Database of Original &amp; Non-Theoretical Uses of Topology</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>
  <header>
    <nav>
      <div id="header-text">
        <a href="/">Home</a>
        &bull;
        <a href="/papers">Papers</a>
        &bull;
        <a href="/software">Software</a>
        &bull;
        <a href="/tags">Tags</a>
        &bull;
        <a href="/faq">FAQ</a>
        &bull;
        <a href="/contributors">Contributors</a>
      </div>
    </nav>
  </header>

  <main>
    <section>
      <h1>&#x1F369; Database of Original &amp; Non-Theoretical Uses of Topology</h1>
      {% if nosearch is not defined %}
        {% include "search.html" %}
      {% endif %}
    </section>

    <section>
    {% block content %}{% endblock %}
    </section>
  </main>

  <footer>
    <div id="footer-text">
      <p>
        Version <code>{{ get_git_revision() }}</code>,
        made with <span style="color: #e25555;">&#9829;</span>,
        &#x1F36B;, and &#x1FAD5; in Switzerland.
        This search engine does not collect any personal information.
        Only publicly-available data sources are being used to collect the
        articles. No copyrighted content is downloaded, stored, or
        processed in any form or fashion. Please report any issues via
        <a href="https://github.com/Pseudomanifold/DONUT">GitHub</a>.
      </p>
    </div>
  </footer>

</body>

</html>
