{% extends "base.html" %}

{% block content %}
<article>
  <section>
    <h1>Contributors</h1>

    <p>
      We are grateful for the work of our primary contributors to this
      database:
      <ul>
        <li><a href="https://www.bgiunti.info">Barbara Giunti</a></li>
        <li><a href="http://www.jlazovskis.com/">Jānis Lazovskis</a></li>
        <li><a href="https://www.math.csi.cuny.edu/~mvj/">Mikael Vejdemo-Johansson</a></li>
      </ul>
    </p>

    <p>
      We are also grateful for the work done by our diligent student
      contributors, past and present:
      <ul>
        <li>Cheryl Blank</li>
        <li>Jake Cordes</li>
        <li>Marcus Paone</li>
        <li>Samantha Rodriguez</li>
      </ul>
    </p>

</article>
{% endblock %}
