{% extends "base.html" %}

{% block content %}

  {% if duration is not none %}
  <div class="query-statistics">
    (found {{ data | length }} matches in {{ duration }}s)
  </div>
  {% endif %}

  {% if data is not none %}
  <ol id="search-results">
    {% if data | length == 0 %}
    <article>
        <h1>No results&hellip;</h1>
        <p>
          Oh no, your query returned no results! It is possible that we do not
          have the requested document in our database. Try another query
          or notify us about the missing document via <a href="mailto:donut@topology.rocks?subject=Missing%20document">donut@topology.rocks</a>.
        </p>
    </article>
    {% endif %}

    {% for d in data %}
    <li class="search-result">
      <article>
        {% set id = d["id"] %}
        {% set document = d["document"] %}

        <h1>
          {{ document.title }}
          {% if document.year | length %}
            ({{ document.year }})
          {% endif %}
        </h1>

        {% set authors = [] %}

        {% for author in document.author %}
          {% set url = url_for("index", q='author:"' ~ author ~ '"') %}
          {% set url = '<a href=' ~ url ~ '>' ~ author ~ '</a>' %}
          {% set z = authors.append(url) %}
        {% endfor %}

        <address>
          {{ authors | join(', ') | safe }}
        </address>

        {% if document.abstract | length %}
        <details>
          <summary>Abstract</summary>

          {{ document.abstract }}
        </details>
        {% endif %}

        <ul class="references">
          {% if document.url | length %}
            <li>
              <a href="{{ document.url }}">URL</a>
            </li>
          {% endif %}

          {% if document.doi | length %}
            <li>
              {% set url = "https://dx.doi.org/" ~ document.doi %}
              <a href="{{ url }}">DOI</a>
            </li>
          {% endif %}

          <li>
            {% set url = url_for("export", identifier=id) %}
            <a href="{{ url }}">Export citation</a>
          </li>
        </ul>

        {% if document.keywords is defined %}
        <ul class="tags">
          {% for keyword in document.keywords %}
          {% set keyword = keyword[1] %}
          <li class="inline-tag">
            <span>
              {% set url = url_for("index", q='tag:"' ~ keyword ~ '"') %}
              <a href={{ url}}>{{ keyword }}</a>
            </span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </article>
    </li>
    {% endfor %}
  </ol>
  {% else %}
  <article>
    <p>
      This database does <em>not</em> aim to be an exhaustive list of papers
      in topological data analysis but wants to focus on
      <strong>applications</strong> of topological data analysis to
      other domains.
    </p>

    <h1>Usage examples</h1>
    <p>
      Search is case-insensitive, i.e. both &ldquo;Topology&rdquo; and &ldquo;topology&rdquo; yield the same results.
      You can use the standard operators <code>AND</code>, <code>OR</code>, and <code>NOT</code> to refine your queries.
      Here are some example queries to get you started (you can either copy
      and paste them or click on them to execute the respective query):
    </p>

    <ul>
      <li>
        All articles of a certain author:
        <ul>
          <li><code><a href="/?q=author%3A%22robins%22">author:robins</a></code></li>
          <li><code><a href="/?q=author%3A%22vanessa+robins%22">author:&quot;vanessa robins&quot;</a></code></li>
        </ul>
      </li>

      <li>
        All articles tagged with a specific set of tags:
        <ul>
          <li><code><a href="/?q=tag%3A%22machine+learning%22">tag:&quot;machine learning&quot;</a></code></li>
          <li><code><a href="/?q=tag%3A%22machine+learning%22+OR+tag%3Amapper">tag:&quot;machine learning&quot; OR tag:mapper</a></code></li>
          <li><code><a href="/?q=tag%3A%22machine+learning%22+NOT+tag%3A%22persistent+homology%22">tag:&quot;machine learning&quot; NOT tag:&quot;persistent homology&quot;</a></code></li>
        </ul>
      </li>

      <li>
        All articles with a specific word in their title:
        <ul>
          <li><code><a href="/?q=title%3Amanifold">title:manifold</a></code></li>
          <li><code><a
                href="/?q=title%3Amanifold+AND+title%3Alearning">title:manifold AND title:learning</a></code></li>
        </ul>
    </ul>

    <p>
      New functionalities are constantly added. Let us know if you are
      missing a certain query!
    </p>
  </article>

  {% endif %}

{% endblock %}
