{% set nosearch = True %}

{% extends "base.html" %}

{% block content %}

<script src="https://d3js.org/d3.v6.js"></script>

<article>
  <h1>The Landscape of DONUT</h1>

  <p>
    This is an embedding of all articles in DONUT, based on their title
    and abstract text. This visualisation is a work in progress.
  </p>

</article>

<div id="landscape"></div>

<script>

/*
  This code has been heavily inspired by the 'scatterplot examples'
  in the d3 example gallery.

  https://d3-graph-gallery.com/graph/scatter_tooltip.html
*/

const margin = {top: 10, right: 30, bottom: 30, left: 10};
const width = 800 - margin.left - margin.right;
const height = 800 - margin.top - margin.bottom;

const svg = d3.select("#landscape")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", `translate(${margin.left}, ${margin.top})`);

  d3.tsv("/static/embedding.tsv").then(function(data) {

    var x = d3.scaleLinear()
      .domain([0, 1])
      .range([ 0, width ]);

    var y = d3.scaleLinear()
      .domain([0, 1])
      .range([ height, 0]);

    const tooltip = d3.select("#landscape")
      .append("div")
      .style("opacity", 0)
      .attr("class", "tooltip")
        .style("position", "absolute")
        .style("background-color", "white")
        .style("border", "solid")
        .style("border-width", "1px")
        .style("border-radius", "5px")
        .style("padding", "5px");

    /* show the tooltip when we hover over it */
    const mouseover = function(event, d) {
      tooltip
        .style("opacity", 1);
    }

    /* position the tooltip along the cursor */
    const mousemove = function(e, d) {
      tooltip
        .html(d.title)
        .style("left", (e.x) + "px")
        .style("top", (e.y) + "px");
    }

    /* hide the tooltip again */
    const mouseleave = function(e, d) {
      tooltip
        .transition()
        .duration(250)
        .style("opacity", 0)
    }

    /* draw the embedding and set all events */
    svg.append('g')
      .selectAll("dot")
      .data(data)
      .enter()
      .append("circle")
        .attr("cx", function (d) { return x(d.x); } )
        .attr("cy", function (d) { return y(d.y); } )
        .attr("r", 5)
        .style("fill", "black")
      .on("mouseover", mouseover )
      .on("mousemove", mousemove )
      .on("mouseleave", mouseleave )

  })

</script>

{% endblock %}
