{% extends "base.html" %}

{% block content %}

<section>
  <p>Jump directly to one of the categories here:</p>
  <ul>
  {% for category in tags %}
    <li><a href="#{{ category }}">{{ category.title() }}</a></li>
  {% endfor %}
  </ul>
</section>

{% for category in tags %}
  <section id="{{ category }}">
    <h1>{{ category.title() }}</h1>
    <ul class="tags">
    {% for tag in tags[category] %}
      {% set keyword = tag[0] %}
      {% set count = tag[1] %}

      {% if keyword == "L+" %}
        <ul class="tags-nested">
      {% elif keyword == "L-" %}
        </ul>
      {% else %}
        <li>
          {% set url = url_for("index", q='tag:"' ~ keyword ~ '"') %}
          <span>
            <a href={{ url}}>{{ keyword }} ({{ count }})</a>
          </span>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </section>
{% endfor %}

{% endblock %}
